<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% @training.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :study_load %><br />
    <%= f.text_field :study_load %>
  </div>
  <div class="field">
    <%= f.label :closed %><br />
    <%= f.check_box :closed %>
  </div>
  <div class="field">
    <%= f.label :students %><br />
    <%= f.text_field :students %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :objective %><br />
    <%= f.text_area :objective %>
  </div>
  <div class="field">
    <%= f.label :target_audience %><br />
    <%= f.text_area :target_audience %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :instructor %><br />

    <%= f.select :instructor_id, Instructor.all.collect{|l| [l.name, l.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

