<h1>Listing instructors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Experience</th>
    <th>Qualifications</th>
    <th>Hobbies</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instructors.each do |instructor| %>
  <tr>
    <td><%= instructor.name %></td>
    <td><%= instructor.age %></td>
    <td><%= instructor.experience %></td>
    <td><%= instructor.qualifications %></td>
    <td><%= instructor.hobbies %></td>
    <td><%= link_to 'Show', instructor %></td>
    <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
    <td><%= link_to 'Destroy', instructor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instructor', new_instructor_path %>
